header > .header-bg{width:100%; background:#fff;}
header > .header-bg .top-menu {height: 60px; padding:0 20px;}
header > .header-bg .top-menu .header-logo img {width:97px;}

main{width: 100%; max-width: 500px; min-width: 360px; margin: 0 auto;}

/* .container{height: calc(100% - 55px); overflow-y: auto;} */
.close-icon {font-size:18px !important; color:#2d2d2d;}

.custom-checkbox-wrap {display:flex; align-items: center; margin-top:20px; font-size:0;}
.custom-checkbox-wrap label {display:inline-block; width:20px; height:20px; box-sizing:border-box; vertical-align: middle; border:1px solid #2f36bb; flex:0 1 20px;}
.custom-checkbox-wrap input[type="checkbox"]:checked + label {background-image: url('../../img/common/button/checkbtn-on.png'); background-size: 20px; background-position: center; cursor: pointer; border:1px solid #2f36bb;
}
.custom-checkbox-wrap span {text-align: left; margin-left:10px; color:#000; vertical-align: middle; font-size:16px; cursor: pointer;}
.custom-checkbox-wrap input[type="checkbox"]{display:none !important;}

.custom-checkbox02-wrap {display: flex; font-size:0;}
.custom-checkbox02-wrap label {display: inline-block; width:20px; height:20px; background-image: url(../../img/common/button/checkbtn-off.png); background-size: 100%;}
.custom-checkbox02-wrap input[type=checkbox]:checked + label {background-image: url(../../img/common/button/checkbtn-on.png);}
 
.custom-radio-wrap {display: flex; font-size:0; align-items: center;}
.custom-radio-wrap label {width:20px; height:20px; display: flex; border:2px solid #031CA6; border-radius: 100%; position: relative; align-items: center; justify-content: center;}
.custom-radio-wrap input[type=radio]:checked + label::after {content: ' '; width:10px; height:10px; background-color: #031CA6; border-radius: 100%;}
.custom-radio-wrap span {font-size:16px; margin-left:10px;}

.unit-input {width: 100%; height:48px; line-height:46px; display: flex; box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2); background-color: #fff; align-items: center; padding-right: 20px; padding-left:20px;}
.unit-input input {box-shadow: none; text-align: right; padding-right:10px;}
.unit-input span {flex: 1 0 auto; text-align: center;}

/* alertModal */
.mobile-gnb-wrap {z-index: 160; height: 100%; top: 0; left: 0; overflow: hidden;}
.mobile-gnb-wrap .mobile-gnb-mask {background-color: rgba(0, 0, 0, 0.5);}

.mobile-gnb-wrap .gnb {width:80%; max-width:500px; position: absolute; top:0; left:0; height:100%; overflow-y:auto; background-color: #fff; z-index: 2; display: flex; flex-direction: column;}
.mobile-gnb-wrap .gnb .close-x {width: 20px; height: 20px; display: inline-block; background-image: url(../../img/common/button/close.png); background-size: 100%; right: 20px; top: 20px;}
.mobile-gnb-wrap .gnb .menu-type1 {font-size: 0;
     /* overflow-y: auto; */
    }
.mobile-gnb-wrap .gnb .menu-type1 > li {border-bottom:1px solid #D5D8DC; position: relative; cursor:pointer; color:#2F36BB; list-style:none;}
.mobile-gnb-wrap .gnb .menu-type1 > li a {color:#2F36BB;}
.mobile-gnb-wrap .gnb .menu-type1 > li.group-title:first-child{border-top:1px solid #d9d9d9}
.mobile-gnb-wrap .gnb .menu-type1 > li.group-title {padding:15px 30px; border-bottom:1px solid #D9D9D9;}
.mobile-gnb-wrap .gnb .menu-type1 > li.group-title a{display:block;}
.mobile-gnb-wrap .gnb .menu-type1 > li.group-title a i{float:right;}
.mobile-gnb-wrap .gnb .menu-type1 > li.group-title a i img{height:15px;}

.gnb-footer-box p{margin-bottom:20px; position:relative;}
.gnb-footer-box p:after{
    content: '';
    width:15px;
    height:1px;
    background:#d9d9d9;
    display:block;
    position:absolute;
    left:50%;
    bottom:-100%;
    transform:translateX(-50%);
}

.gnb-footer-box p:nth-child(3):after{display:none;}
.gnb-address p{line-height:1.4; font-size:14px;}

@media(min-width:700px) {
    .mobile-gnb-wrap {margin: 0 calc((100% - 500px) / 2) !important;}
}