#header{width:100%; max-width:500px; min-width:360px; margin:0 auto;}
header > .header-bg{width: 100%; background: #fff;}
header > .header-bg .top-menu {padding: 0 !important; height:50px; line-height:50px; position:relative;}
header > .header-bg .top-menu a{}
header > .header-bg .top-menu a i{}
header > .header-bg .top-menu i img{width:100%; display:block;}
#header .header-bg .top-menu h1{display:inline-block; padding-left:20px;}

.search-box{position:relative; border-radius:0; box-sizing:border-box; border:1px solid #2f36bb;}
.search-box input[type="text"]{box-shadow: none;}
.search-box .searchbtn{width:20px; height:20px; display:block; right:20px; top:50%; transform:translateY(-50%);}
.search-box .searchbtn img{width:100%; display:block;}
.searchbtn{}

.list-wrap{width:60px; height:50px; right:0; top:0; background:#2F36BB; height:100%; display:none;}
.list-wrap a{width: 100%; display: block; color:#fff; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.list-wrap .list-close-btn{position:absolute; right:calc(100% + 20px); top:50%; transform:translateY(-50%);}
.list-wrap .list-close-btn img{width:20px; height:20px; display:block;}

.search-detail-wrap{position:absolute; top:0; left:0;width:100%; display:none;}
.search-detail-box{height:50px; box-sizing:border-box;}
.search-detail-box ul{width:100%;}
.search-detail-box ul li{box-sizing:border-box; width:25%; float:left; text-align:center; height:100%;}
.search-detail-box ul li select{width:100%;height:48px; border:none; text-align:center; border-right:1px solid #2f36bb;}
.search-detail-box ul li select option{}

.find-btn{width:100%; display:block; height:50px; line-height:50px;}
.return-map-btn{display:flex; justify-content:center; align-items:center; background:#2f36bb; width:100%; height:50px; color:#fff;}

.filter-wrap{position:relative; top:-2px; left:0; box-sizing:border-box; z-index:1; width:100%; background:#fff; border:1px solid #2f36bb;}
.filter-wrap .filter-box{box-sizing:border-box; position:relative; height:40px;}
.filter-wrap .filter-box select{width:100%; height:100%; border:none;}
.filter-wrap .filter-box select:focus{outline:none;}
.filter-wrap .filter-box ul li{width:100%;}

