main{
        width: 100%;
    max-width: 500px;
    min-width: 360px;
    margin: 0 auto;
}

#flex-wrap{}
#flex-wrap .flex-box{}
#flex-wrap .flex-box .content-wrap{}
#flex-wrap .flex-box .content-wrap a{width:100%; border-bottom:1px solid #d9d9d9;}
#flex-wrap .flex-box .content-wrap a ul{width:100%; box-sizing:border-box;}
#flex-wrap .flex-box .content-wrap a ul li{width:33.333%;}
#flex-wrap .flex-box .content-wrap a ul {}

.sub-box{display:none; padding:20px; box-sizing: border-box; border-bottom:1px solid #d9d9d9;}
.sub-box p{line-height:1.2;}